#tiempo{
    color: green;
    font-size: 40px;
}

.Reloj{
background-image: url("reloj.png");
background-position: 0%;
background-size: cover;
flex-direction: column;
width: 200px;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}
#fecha{
    color: green;
    flex-direction: column;
    font-size: 10px;
}
